/* .background1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-whitesmoke-100);
  } */
  .background {
    position: absolute;
    top: 133px;
    left: 17px;
    width: 1280px;
    height: 6228px;
  }
  .content-margin,
  .separator {
    position: absolute;
    top: 400px;
    left: 160px;
    width: 960px;
    height: 5031px;
  }
  .separator {
    top: 64px;
    left: 430px;
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
    width: 102px;
    height: 2px;
  }
  .arb-tree-care {
    position: absolute;
    top: 0;
    left: 377px;
    font-weight: 600;
  }
  .blank-line {
    margin: 0;
  }
  .arb-tree-care-container {
    position: absolute;
    top: 98px;
    left: 0;
    font-size: var(--font-size-base);
    text-align: left;
    display: flex;
    align-items: center;
    width: 430px;
  }
  .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 582px;
    height: 538px;
    text-align: center;
    font-size: var(--font-size-13xl);
  }
  .tree-bg-child,
  .tree-bg-item {
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
  }
  .tree-bg-child {
    position: absolute;
    width: 402px;
    height: 327px;
    object-fit: cover;
  }
  .tree-bg-item {
    background-color: var(--color-darkolivegreen-100);
    mix-blend-mode: soft-light;
  }
  .tree-bg,
  .tree-bg-item,
  .video-icon {
    position: absolute;
    width: 402px;
    height: 327px;
  }
  .tree-bg {
    top: 0;
    left: 31px;
    mix-blend-mode: multiply;
  }
  .video-icon {
    top: 28px;
    left: 0;
    border-radius: var(--br-3xs);
    object-fit: cover;
  }
  .video {
    position: absolute;
    top: 98px;
    left: 527px;
    width: 433px;
    height: 355px;
  }
  .play-suggestion-child {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 9px rgba(174, 174, 174, 0.25);
    border-radius: var(--br-8xs);
    background-color: var(--color-white);
    width: 241px;
    height: 85px;
  }
  .click-to-play {
    position: absolute;
    top: 16px;
    left: 90px;
    font-weight: 600;
  }
  .hours,
  .vector-icon {
    position: absolute;
    top: 43px;
    left: 90px;
  }
  .vector-icon {
    height: 42.35%;
    width: 13.07%;
    top: 29.41%;
    right: 71.16%;
    bottom: 28.24%;
    left: 15.77%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .play-suggestion {
    position: absolute;
    top: 410px;
    left: 607px;
    width: 241px;
    height: 85px;
  }
  .learn-more-about {
    position: absolute;
    top: 566px;
    left: 0;
    text-decoration: underline;
    font-weight: 600;
    color: var(--color-goldenrod);
    cursor: pointer;
  }
  .map-card-child {
    box-shadow: 0 0 9px rgba(174, 174, 174, 0.1);
    border-radius: var(--br-8xs);
    background-color: var(--color-white);
    height: 260px;
  }
  .image-14-icon,
  .map-card-child,
  .map-card1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
  }
  .image-14-icon {
    border-radius: var(--br-8xs) var(--br-8xs) 0 0;
    height: 160.2px;
    object-fit: cover;
  }
  .map-card1 {
    height: 260px;
  }
  .find-us-just {
    position: absolute;
    top: 0;
    left: 74px;
    font-weight: 500;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    width: 796px;
  }
  .pin-icon {
    position: absolute;
    height: 100%;
    width: 4.63%;
    top: 0;
    right: 95.37%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .text-child {
    position: absolute;
    top: 3px;
    left: 308px;
    border-right: 1.5px solid var(--color-goldenrod);
    box-sizing: border-box;
    width: 1.5px;
    height: 21.5px;
  }
  .text1 {
    position: absolute;
    top: 183px;
    left: 45px;
    width: 870px;
    height: 54px;
  }
  .map-card,
  .section-1 {
    position: absolute;
    top: 621px;
    left: 0;
    width: 960px;
    height: 260px;
  }
  .section-1 {
    top: 400px;
    left: 160px;
    height: 881px;
    text-align: left;
    font-size: var(--font-size-xl);
  }
  .section-2-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-whitesmoke-200);
    width: 1280px;
    height: 531px;
  }
  .separator1 {
    position: absolute;
    top: 183px;
    left: 589px;
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
    width: 102px;
    height: 2px;
  }
  .safety-at-arb {
    position: absolute;
    top: 120px;
    left: 540px;
    font-weight: 600;
    text-align: center;
  }
  .arb-has-a {
    margin: 0;
    white-space: pre-wrap;
  }
  .arb-has-a-container {
    position: absolute;
    top: 211px;
    left: 160px;
    font-size: var(--font-size-base);
    display: flex;
    align-items: center;
    width: 960px;
  }
  .learn-more-about1 {
    position: absolute;
    top: 385px;
    left: 160px;
    font-size: var(--font-size-xl);
    text-decoration: underline;
    font-weight: 600;
    color: var(--color-goldenrod);
    cursor: pointer;
  }
  .section-2 {
    position: absolute;
    top: 1401px;
    left: 0;
    width: 1280px;
    height: 531px;
    text-align: left;
  }
  .separator2 {
    position: absolute;
    top: 63px;
    left: 404px;
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
    width: 102px;
    height: 2px;
  }
  .our-company-values {
    position: absolute;
    top: 0;
    left: 301px;
    font-weight: 600;
  }
  .lorem-ipsum-dolor,
  .lorem-ipsum-dolor1,
  .lorem-ipsum-dolor2 {
    position: absolute;
    top: 163px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 261px;
  }
  .lorem-ipsum-dolor1,
  .lorem-ipsum-dolor2 {
    left: 324px;
  }
  .lorem-ipsum-dolor2 {
    left: 648px;
  }
  .value-1,
  .value-2,
  .value-3 {
    position: absolute;
    top: 111px;
    left: 96px;
    font-size: var(--font-size-xl);
    font-weight: 500;
  }
  .value-2,
  .value-3 {
    left: 420px;
  }
  .value-3 {
    left: 745px;
  }
  .icons-1,
  .values {
    position: absolute;
    top: 0;
    left: 85px;
    width: 739.4px;
    height: 80px;
  }
  .values {
    top: 96px;
    left: 0;
    width: 909px;
    height: 207px;
    font-size: var(--font-size-base);
  }
  .section-3,
  .tree-bg-inner {
    position: absolute;
    top: 2048px;
    left: 185px;
    width: 909px;
    height: 303px;
  }
  .tree-bg-inner {
    top: 0;
    left: 0;
    width: 1280px;
    height: 2065px;
    object-fit: cover;
    mix-blend-mode: normal;
  }
  .rectangle-div {
    background-color: var(--color-darkolivegreen-100);
    mix-blend-mode: soft-light;
  }
  .rectangle-div,
  .section-4-child,
  .tree-bg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 2065px;
  }
  .section-4-child {
    top: 120px;
    left: 160px;
    backdrop-filter: blur(4px);
    border-radius: var(--br-3xs);
    background-color: var(--color-darkolivegreen-200);
    width: 960px;
    height: 1825px;
  }
  .separator3 {
    position: absolute;
    top: 223px;
    left: 589px;
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
    width: 102px;
    height: 2px;
  }
  .meet-the-team {
    position: absolute;
    top: 160px;
    left: 527px;
    font-size: var(--font-size-13xl);
    font-weight: 600;
  }
  .image-15-icon {
    position: absolute;
    top: 0;
    left: 30px;
    border-radius: var(--br-980xl);
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
  .anthony-bethell {
    position: absolute;
    top: 181px;
    left: 34px;
    font-weight: 600;
  }
  .managing-director-chartered {
    position: absolute;
    top: 228px;
    left: 0;
    font-size: var(--font-size-base);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
  }
  .separator4 {
    position: absolute;
    top: 218px;
    left: 84px;
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
    width: 52px;
    height: 2px;
  }
  .member-1 {
    position: absolute;
    top: 258px;
    left: 233px;
    width: 218px;
    height: 272px;
  }
  .jo-barnett {
    position: absolute;
    top: 181px;
    left: 63px;
    font-weight: 600;
  }
  .assistant-manager {
    position: absolute;
    top: 239px;
    left: 0;
    font-size: var(--font-size-base);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
  }
  .separator5 {
    position: absolute;
    top: 223px;
    left: 85px;
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
    width: 52px;
    height: 2px;
  }
  .member-2 {
    position: absolute;
    top: 258px;
    left: 531px;
    width: 218px;
    height: 261px;
  }
  .amy-lee-cope {
    position: absolute;
    top: 181px;
    left: 42px;
    font-weight: 600;
  }
  .member-3 {
    position: absolute;
    top: 258px;
    left: 829px;
    width: 218px;
    height: 272px;
  }
  .james-perry {
    position: absolute;
    top: 181px;
    left: 54px;
    font-weight: 600;
  }
  .member-4 {
    position: absolute;
    top: 610px;
    left: 233px;
    width: 218px;
    height: 261px;
  }
  .reece-gilbert {
    position: absolute;
    top: 181px;
    left: 47px;
    font-weight: 600;
  }
  .member-5 {
    position: absolute;
    top: 610px;
    left: 531px;
    width: 218px;
    height: 261px;
  }
  .kyle-williams {
    position: absolute;
    top: 181px;
    left: 45px;
    font-weight: 600;
  }
  .member-6,
  .member-7 {
    position: absolute;
    top: 610px;
    left: 829px;
    width: 218px;
    height: 261px;
  }
  .member-7 {
    top: 951px;
    left: 233px;
  }
  .paul-rowlands {
    position: absolute;
    top: 181px;
    left: 40px;
    font-weight: 600;
  }
  .arbourist-trainee-consultant {
    position: absolute;
    top: 244px;
    left: 0;
    font-size: var(--font-size-base);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
  }
  .separator11 {
    position: absolute;
    top: 228px;
    left: 84px;
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
    width: 52px;
    height: 2px;
  }
  .image-15-icon8,
  .member-8 {
    position: absolute;
    top: 951px;
    left: 531px;
    width: 218px;
    height: 266px;
  }
  .image-15-icon8 {
    top: 0;
    left: 29px;
    border-radius: var(--br-980xl);
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
  .liam-vaines {
    position: absolute;
    top: 181px;
    left: 53px;
    font-weight: 600;
  }
  .separator12 {
    position: absolute;
    top: 218px;
    left: 83px;
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
    width: 52px;
    height: 2px;
  }
  .member-10,
  .member-9 {
    position: absolute;
    top: 951px;
    left: 829px;
    width: 218px;
    height: 272px;
  }
  .member-10 {
    top: 1303px;
    left: 233px;
    height: 261px;
  }
  .jenna-young {
    position: absolute;
    top: 181px;
    left: 52px;
    font-weight: 600;
  }
  .member-11 {
    position: absolute;
    top: 1303px;
    left: 531px;
    width: 218px;
    height: 261px;
  }
  .colin-barnett {
    position: absolute;
    top: 181px;
    left: 49px;
    font-weight: 600;
  }
  .company-mechanic {
    position: absolute;
    top: 239px;
    left: 0;
    font-size: var(--font-size-base);
    font-weight: 500;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    text-decoration: none;
  }
  .member-12 {
    position: absolute;
    top: 1303px;
    left: 829px;
    width: 218px;
    height: 261px;
  }
  .fergus-simister {
    position: absolute;
    top: 181px;
    left: 38px;
    font-weight: 600;
  }
  .member-13 {
    position: absolute;
    top: 1644px;
    left: 382px;
    width: 218px;
    height: 261px;
  }
  .brandon-ainsworth {
    position: absolute;
    top: 181px;
    left: 20px;
    font-weight: 600;
  }
  .member-14,
  .section-4 {
    position: absolute;
    top: 1644px;
    left: 680px;
    width: 218px;
    height: 261px;
  }
  .section-4 {
    top: 2476px;
    left: 0;
    width: 1280px;
    height: 2065px;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .separator18 {
    position: absolute;
    top: 63px;
    left: 429px;
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
    width: 102px;
    height: 2px;
  }
  .british-armed-forces {
    position: absolute;
    top: 0;
    left: 327px;
    font-weight: 600;
  }
  .armed-forces-bikers {
    color: var(--color-goldenrod);
  }
  .armed-forces-bikers,
  .armed-forces-covenant {
    text-decoration: underline;
  }
  .armed-forces-covenant-signator {
    color: var(--color-goldenrod);
  }
  .and-are-rated {
    color: var(--color-darkslategray);
  }
  .arb-is-a-container,
  .card-child {
    position: absolute;
    left: 0;
    width: 960px;
  }
  .arb-is-a-container {
    top: 90px;
    font-size: var(--font-size-base);
    text-align: left;
    display: flex;
    align-items: center;
  }
  .card-child {
    top: 0;
    box-shadow: 0 0 9px rgba(174, 174, 174, 0.1);
    border-radius: var(--br-8xs);
    background-color: var(--color-white);
    height: 180px;
  }
  .image-16-icon,
  .image-17-icon,
  .image-18-icon {
    position: absolute;
    top: 40px;
    left: 577.9px;
    width: 275.5px;
    height: 100px;
    object-fit: cover;
  }
  .image-17-icon,
  .image-18-icon {
    top: 39px;
    left: 427px;
    width: 70.9px;
  }
  .image-18-icon {
    top: 40px;
    left: 107px;
    width: 240px;
  }
  .card,
  .section-5,
  .section-6-child {
    position: absolute;
    top: 224px;
    left: 0;
    width: 960px;
    height: 180px;
  }
  .section-5,
  .section-6-child {
    top: 4661px;
    left: 160px;
    height: 404px;
  }
  .section-6-child {
    top: 0;
    left: 0;
    background-color: var(--color-whitesmoke-200);
    width: 1280px;
    height: 924px;
  }
  .separator19 {
    position: absolute;
    top: 189.6px;
    left: 589px;
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
    width: 102px;
    height: 2px;
  }
  .frequently-asked-questions {
    position: absolute;
    top: 120px;
    left: 434px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 413px;
    height: 54.4px;
  }
  .accordion-1-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-8xs) var(--br-8xs) 0 0;
    background-color: var(--color-whitesmoke-100);
    width: 960px;
    height: 50px;
  }
  .q,
  .what-is-the {
    position: absolute;
    top: 11px;
    left: 114px;
    font-weight: 500;
  }
  .q {
    left: 51px;
    font-weight: 600;
  }
  .chevron-icon {
    position: absolute;
    height: 16.35%;
    width: 2.71%;
    top: 7.55%;
    right: 5.52%;
    bottom: 76.1%;
    left: 91.77%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .accordion-1-item {
    position: absolute;
    top: 50px;
    left: 0;
    border-radius: 0 0 var(--br-8xs) var(--br-8xs);
    background-color: var(--color-white);
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
    width: 960px;
    height: 109px;
  }
  .a-tree-surgeons {
    position: absolute;
    top: 72px;
    left: 51px;
    font-size: var(--font-size-base);
    display: flex;
    align-items: center;
    width: 856px;
  }
  .accordion-1,
  .accordion-2-child {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 9px rgba(174, 174, 174, 0.1);
    width: 960px;
    height: 159px;
  }
  .accordion-2-child {
    border-radius: var(--br-8xs);
    background-color: var(--color-whitesmoke-100);
    height: 50px;
  }
  .chevron-icon1 {
    position: absolute;
    height: 52%;
    width: 2.71%;
    top: 24%;
    right: 5.52%;
    bottom: 24%;
    left: 91.77%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .accordion-2 {
    position: absolute;
    top: 179px;
    left: 0;
    width: 960px;
    height: 50px;
  }
  .accordion-3,
  .accordion-4,
  .accordion-5,
  .accordion-6 {
    position: absolute;
    top: 249px;
    left: 0;
    width: 960px;
    height: 50px;
  }
  .accordion-4,
  .accordion-5,
  .accordion-6 {
    top: 319px;
  }
  .accordion-5,
  .accordion-6 {
    top: 389px;
  }
  .accordion-6 {
    top: 459px;
  }
  .what-are-your {
    position: absolute;
    top: 11px;
    left: 115px;
    font-weight: 500;
  }
  .accordion-7,
  .accordions {
    position: absolute;
    top: 529px;
    left: 0;
    width: 960px;
    height: 50px;
  }
  .accordions {
    top: 224.6px;
    left: 161px;
    height: 579px;
    text-align: left;
    font-size: var(--font-size-xl);
  }
  .section-6 {
    position: absolute;
    top: 5185px;
    left: 0;
    width: 1280px;
    height: 924px;
  }
  .rectangle-icon {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    mix-blend-mode: normal;
  }
  .rectangle-icon,
  .tree-bg-child1,
  .tree-bg2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .tree-bg-child1 {
    background-color: var(--color-darkolivegreen-100);
    mix-blend-mode: soft-light;
  }
  .tree-bg2 {
    mix-blend-mode: multiply;
  }
  .contact-pre-footer-child {
    position: absolute;
    height: 74%;
    width: 56.25%;
    top: 12.8%;
    right: 21.88%;
    bottom: 13.2%;
    left: 21.88%;
    backdrop-filter: blur(4px);
    border-radius: var(--br-3xs);
    background-color: var(--color-darkolivegreen-200);
  }
  .separator20 {
    position: absolute;
    height: 1.64%;
    width: 31.58%;
    top: 53.9%;
    right: 68.73%;
    bottom: 44.46%;
    left: -0.31%;
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
  }
  .contact-us-for,
  .ready-to-talk {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
  }
  .ready-to-talk {
    height: 37.57%;
    width: 65.63%;
    top: 0;
    justify-content: center;
  }
  .contact-us-for {
    height: 28.22%;
    width: 100%;
    top: 71.78%;
    font-size: var(--font-size-5xl);
    font-weight: 500;
    text-align: left;
  }
  .text2 {
    position: absolute;
    height: 48.76%;
    width: 25.23%;
    top: 25.6%;
    right: 45.31%;
    bottom: 25.64%;
    left: 29.45%;
  }
  .contact-us-btn-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-10xs);
    background-color: var(--color-goldenrod);
  }
  .contact-us {
    position: absolute;
    height: 51.56%;
    width: 67.21%;
    top: 24.94%;
    left: 15.57%;
    display: flex;
    align-items: center;
  }
  .contact-us-btn {
    position: absolute;
    height: 46.03%;
    width: 100%;
    top: 54.08%;
    right: 0;
    bottom: -0.11%;
    left: 0;
    cursor: pointer;
  }
  .vector-icon1,
  .vector-icon2 {
    position: absolute;
    height: 36.75%;
    width: 26.23%;
    top: 0;
    right: 70.49%;
    bottom: 63.25%;
    left: 3.28%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon2 {
    width: 24.43%;
    right: 4.26%;
    left: 71.31%;
  }
  .or {
    position: absolute;
    height: 25.28%;
    width: 15.57%;
    top: 5.74%;
    left: 42.62%;
    display: flex;
    color: var(--color-white);
    align-items: center;
  }
  .contact-area {
    position: absolute;
    height: 36.24%;
    width: 9.53%;
    top: 33.92%;
    right: 29.53%;
    bottom: 29.84%;
    left: 60.94%;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-darkolivegreen-100);
  }
  .contact-pre-footer {
    position: absolute;
    top: 6109px;
    left: 0;
    width: 1280px;
    height: 250px;
    color: var(--color-white);
  }
  .arb-tree-care-section-child,
  .footer-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-darkolivegreen-100);
  }
  .arb-tree-care-section-child {
    border-radius: var(--br-8xs);
    background-color: var(--color-goldenrod);
  }
  .vector-icon3,
  .vector-icon4 {
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon3 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .vector-icon4 {
    height: 49.43%;
    width: 46.36%;
    top: 38.18%;
    right: 26.91%;
    bottom: 12.39%;
    left: 26.74%;
  }
  .arb,
  .logo,
  .vector-icon4 {
    position: absolute;
  }
  .arb {
    height: 31.36%;
    width: 32.99%;
    top: 47.73%;
    left: 33.16%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    height: 29.33%;
    width: 59.24%;
    top: 5.67%;
    right: 19.95%;
    bottom: 65%;
    left: 20.81%;
    text-align: center;
    font-size: var(--font-size-xl);
    font-family: var(--font-lora);
  }
  .ltd {
    font-weight: 600;
  }
  .arb-tree-care-container2 {
    position: absolute;
    top: 38.33%;
    left: 15.74%;
  }
  .arbour-tree-farm-container {
    position: absolute;
    top: 49%;
    left: 16.24%;
    font-weight: 500;
  }
  .arb-tree-care-section {
    position: absolute;
    height: 75%;
    width: 15.39%;
    top: 12.5%;
    right: 80.7%;
    bottom: 12.5%;
    left: 3.91%;
    color: var(--color-darkolivegreen-100);
  }
  .company1 {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
  }
  .separator21 {
    position: absolute;
    height: 0.92%;
    width: 44.83%;
    top: 21.2%;
    right: 56.03%;
    bottom: 77.88%;
    left: -0.86%;
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
  }
  .about-us-accreditations-container {
    position: absolute;
    top: 30.88%;
    left: 0;
    font-size: var(--font-size-base);
    text-decoration: underline;
    line-height: 30px;
  }
  .company {
    position: absolute;
    height: 54.25%;
    width: 9.06%;
    top: 12.5%;
    right: 67.11%;
    bottom: 33.25%;
    left: 23.83%;
    font-size: var(--font-size-xl);
  }
  .separator22 {
    position: absolute;
    height: 0.81%;
    width: 67.53%;
    top: 18.62%;
    right: 33.77%;
    bottom: 80.57%;
    left: -1.3%;
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
  }
  .service-1-service-container {
    position: absolute;
    top: 27.13%;
    left: 0;
    font-size: var(--font-size-base);
    text-decoration: underline;
    line-height: 30px;
  }
  .services {
    position: absolute;
    height: 61.75%;
    width: 6.02%;
    top: 12.5%;
    right: 52.27%;
    bottom: 25.75%;
    left: 41.72%;
    font-size: var(--font-size-xl);
  }
  .separator23 {
    position: absolute;
    height: 1.27%;
    width: 37.68%;
    top: 29.3%;
    right: 63.04%;
    bottom: 69.43%;
    left: -0.72%;
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
  }
  .logs-and-firewood-container {
    position: absolute;
    top: 42.68%;
    left: 0;
    font-size: var(--font-size-base);
    text-decoration: underline;
    line-height: 30px;
  }
  .contact1,
  .sales {
    position: absolute;
    font-size: var(--font-size-xl);
  }
  .sales {
    height: 39.25%;
    width: 10.78%;
    top: 12.5%;
    right: 30.31%;
    bottom: 48.25%;
    left: 58.91%;
  }
  .contact1 {
    top: 0;
    left: 1.9%;
    font-weight: 600;
  }
  .separator24 {
    position: absolute;
    height: 0.92%;
    width: 32.91%;
    top: 21.1%;
    right: 65.82%;
    bottom: 77.98%;
    left: 1.27%;
    border-top: 2px solid var(--color-goldenrod);
    box-sizing: border-box;
  }
  .vector-icon5 {
    position: absolute;
    height: 11.01%;
    width: 14.56%;
    top: 36.7%;
    right: 83.54%;
    bottom: 52.29%;
    left: 1.9%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .div {
    position: absolute;
    top: 30.73%;
    left: 24.68%;
    line-height: 25px;
  }
  .vector-icon6 {
    position: absolute;
    height: 11.01%;
    width: 13.61%;
    top: 62.84%;
    right: 84.49%;
    bottom: 26.15%;
    left: 1.9%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .infoarbukcom {
    position: absolute;
    top: 62.84%;
    left: 24.68%;
    line-height: 25px;
  }
  .vector-icon7,
  .vector-icon8,
  .vector-icon9 {
    position: absolute;
    height: 11.01%;
    width: 15.19%;
    top: 88.99%;
    right: 84.81%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon8,
  .vector-icon9 {
    right: 53.16%;
    left: 31.65%;
  }
  .vector-icon9 {
    width: 21.71%;
    right: 15%;
    left: 63.29%;
  }
  .contact {
    position: absolute;
    height: 54.5%;
    width: 12.34%;
    top: 12.5%;
    right: 13.2%;
    bottom: 33%;
    left: 74.45%;
  }
  .copyright-arb-tree {
    position: absolute;
    top: 82%;
    left: 23.83%;
    font-weight: 300;
  }
  .footer,
  .hero-section-0-child {
    position: absolute;
    left: 0;
    width: 1280px;
  }
  .footer {
    top: 6359px;
    height: 400px;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-white);
  }
  .hero-section-0-child {
    top: 0;
    height: 68px;
    object-fit: cover;
    mix-blend-mode: normal;
  }
  .hero-content-child {
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    border-radius: var(--br-3xs);
    background-color: var(--color-darkolivegreen-200);
    width: 693px;
    height: 34px;
  }
  .about-us-txt-container {
    width: 100%;
  }
  .about-us2 {
    position: absolute;
    top: 7.5px;
    left: 259px;
    display: flex;
    align-items: center;
    width: 176px;
    height: 18.7px;
  }
  .hero-content {
    position: absolute;
    top: 17px;
    left: 293px;
    width: 693px;
    height: 34px;
  }
  .hero-section-0,
  .tree-bg-child3 {
    position: absolute;
    top: 47px;
    left: 0;
    width: 1280px;
    height: 68px;
  }
  .tree-bg-child3 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--color-darkolivegreen-100);
    mix-blend-mode: soft-light;
  }
  .contact-pre-footer-item,
  .separator25 {
    position: absolute;
    box-sizing: border-box;
  }
  .contact-pre-footer-item {
    height: 74%;
    width: 56.25%;
    top: 12.78%;
    right: 21.88%;
    bottom: 13.22%;
    left: 21.88%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-3xs);
    background-color: var(--color-darkolivegreen-200);
    border: 1px solid #000;
  }
  .separator25 {
    height: 1.78%;
    width: 31.58%;
    top: 53.79%;
    right: 68.73%;
    bottom: 44.42%;
    left: -0.31%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    border-top: 2px solid var(--color-goldenrod);
  }
  .contact-us-for1,
  .ready-to-talk1 {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
  }
  .ready-to-talk1 {
    height: 37.64%;
    width: 65.63%;
    top: 0;
    justify-content: center;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  }
  .contact-us-for1 {
    height: 28.19%;
    width: 100%;
    top: 71.81%;
    font-size: var(--font-size-5xl);
    font-weight: 500;
    text-align: left;
  }
  .text3 {
    position: absolute;
    height: 48.74%;
    width: 25.23%;
    top: 25.61%;
    right: 45.31%;
    bottom: 25.65%;
    left: 29.45%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .contact-us1 {
    position: absolute;
    height: 51.7%;
    width: 67.21%;
    top: 25.07%;
    left: 15.57%;
    display: flex;
    align-items: center;
  }
  .contact-us-btn1 {
    position: absolute;
    height: 45.92%;
    width: 100%;
    top: 53.96%;
    right: 0;
    bottom: 0.12%;
    left: 0;
    cursor: pointer;
  }
  .vector-icon10,
  .vector-icon11 {
    position: absolute;
    height: 36.81%;
    width: 26.23%;
    top: 0;
    right: 70.49%;
    bottom: 63.19%;
    left: 3.28%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon11 {
    width: 24.43%;
    right: 4.26%;
    left: 71.31%;
  }
  .or1 {
    position: absolute;
    height: 25.3%;
    width: 15.57%;
    top: 5.76%;
    left: 42.62%;
    display: flex;
    color: var(--color-white);
    align-items: center;
  }
  .contact-area1 {
    position: absolute;
    height: 36.26%;
    width: 9.53%;
    top: 33.91%;
    right: 29.53%;
    bottom: 29.83%;
    left: 60.94%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-darkolivegreen-100);
  }
  .contact-pre-footer1,
  .hero-section-0-parent {
    position: absolute;
    width: 1280px;
    height: 230px;
    overflow: hidden;
  }
  .contact-pre-footer1 {
    right: 0;
    bottom: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-3xs);
    mix-blend-mode: normal;
    font-size: var(--font-size-13xl);
  }
  .hero-section-0-parent {
    top: 18px;
    left: 17px;
    font-size: 40px;
    color: var(--color-white);
  }
  .about-us-child {
    position: absolute;
    top: 1px;
    left: 38px;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  .about-us {
    width: 100%;
    position: relative;
    height: 6759px;
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--color-darkslategray);
    font-family: var(--font-nunito);
  }
  